<div class="container">
  <h2 id="page-heading" data-cy="EmployerHeading">
    <span>Employers</span>
  </h2>
  <div class="d-flex justify-content-end mb-3">
    <p-button
      id="create-entity"
      [routerLink]="['/employer', 'new']"
      label="Create a New Employer"
      icon="pi pi-plus"
      iconPos="left"
      data-cy="entityCreateButton"
    ></p-button>
  </div>
  <div class="card">
    <p-table
      [value]="employers"
      [tableStyle]="{ 'min-width': '50rem', 'width': '100%' }"
      [responsive]="true"
      [loading]="loading"
      [rowTrackBy]="trackId"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Account</th>
          <th>Status</th>
          <th>Created At</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employer>
        <tr data-cy="entityTable">
          <td>{{ employer.name }}</td>
          <td>{{ employer.email }}</td>
          <td>{{ employer.account.name }}</td>
          <td>
            <span class="label" [class]="employer.status">
              {{ employer.status }}
            </span>
          </td>
          <td>{{ employer.created_at | date: 'medium' }}</td>
          <td>
            <p-button
              [routerLink]="['/employer', employer.id, 'view']"
              icon="pi pi-eye"
              styleClass="p-button-success"
              data-cy="entityEditButton"
              [style]="{ 'margin-right': '.5em' }"
            >
            </p-button>
            <p-button
              [routerLink]="['/employer', employer.id, 'edit']"
              icon="pi pi-pencil"
              styleClass="p-button-warning"
              data-cy="entityEditButton"
              [style]="{ 'margin-right': '.5em' }"
            >
            </p-button>
            <p-button
              type="submit"
              (click)="delete(employer.id)"
              icon="pi pi-trash"
              styleClass="p-button-danger"
              data-cy="entityDeleteButton"
            >
            </p-button>
            <p-button
              type="submit"
              (click)="openHistoryDialog(employer.id)"
              icon="pi pi-book"
              styleClass="p-button-warning"
            >
            </p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
