.label {
  padding: 4px;
  font-size: 90%;
  border-radius: 3px;
}

.prospect {
  background-color: #36a3f7;
  color: #fff;
}

.supplier {
  background-color: #ffb822;
  color: #fff;
}
.customer {
  background-color: #34bfa3;
  color: #fff;
}

.partner {
  background-color: #de0e4c;
  color: #fff;
}
