<div class="container">
  <h2 id="page-heading" data-cy="AccountHeading">
    <span>accounts</span>
  </h2>
  <div class="d-flex justify-content-end mb-3">
    <p-button
      id="create-entity"
      [routerLink]="['/account', 'new']"
      label="Create a New account"
      icon="pi pi-plus"
      iconPos="left"
      data-cy="entityCreateButton"
    ></p-button>
  </div>
  <div class="card">
    <p-table
      [value]="accounts"
      [tableStyle]="{ 'min-width': '50rem', 'width': '100%' }"
      [responsive]="true"
      [loading]="loading"
      [rowTrackBy]="trackId"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Created At</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-account>
        <tr data-cy="entityTable">
          <td>{{ account.name }}</td>
          <td>{{ account.email }}</td>

          <td>{{ account.created_at | date: 'medium' }}</td>
          <td>
            <p-button
              [routerLink]="['/account', account.id, 'view']"
              icon="pi pi-eye"
              styleClass="p-button-success"
              data-cy="entityEditButton"
              [style]="{ 'margin-right': '.5em' }"
            >
            </p-button>
            <p-button
              [routerLink]="['/account', account.id, 'edit']"
              icon="pi pi-pencil"
              styleClass="p-button-warning"
              data-cy="entityEditButton"
              [style]="{ 'margin-right': '.5em' }"
            >
            </p-button>
            <p-button
              *ngIf="!account.employers_count"
              type="submit"
              (click)="delete(account.id)"
              icon="pi pi-trash"
              styleClass="p-button-danger"
              data-cy="entityDeleteButton"
            >
            </p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
