<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="user">
      <h2 data-cy="userDetailsHeading"><span>user profile page</span></h2>
      <hr />
      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ user.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ user.name }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ user.email }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ user.address }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ user.phone }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <span icon="arrow-left"></span>&nbsp;<span appTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user', user.id, 'edit']" class="btn btn-primary">
        <span icon="pencil-alt"></span>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
